
{% load static %}
<!DOCTYPE html>
<html lang="en">


<!-- index.html  21 Nov 2019 03:44:50 GMT -->
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Job Forcasting</title>
  <!-- General CSS Files -->
  <link rel="stylesheet" href="{% static 'admin/css/app.min.css'%}">
  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'admin/css/style.css'%}">
  <link rel="stylesheet" href="{% static 'admin/css/components.css'%}">
  <!-- Custom style CSS -->
  <link rel="stylesheet" href="{% static 'admin/css/custom.css'%}">
  <link rel='shortcut icon' type='image/x-icon' href='admin/img/favicon.ico' />

  <style>
    #search-results {
      list-style-type: none;
      background-color: #fff;
      
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      border-radius: 5px;
      padding: 0;
      cursor: pointer;
      
      
    }
    #search-results li{
      color:black;
      padding-left: 10px;
      padding-top:20px;
      
      
      
    }

  </style>
</head>

<body class="sidebar-mini">
  <div class="loader"></div>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar sticky">
        <div class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg
									collapse-btn"> <i data-feather="align-justify"></i></a></li>
            <li><a href="#" class="nav-link nav-link-lg fullscreen-btn">
                <i data-feather="maximize"></i>
              </a></li>
            <li>
              <form class="form-inline mr-auto" style="position:absolute;" >
                <div class="search-element" >
                  <input class="form-control" type="search" id="search" placeholder="Search" aria-label="Search" data-width="200">
                  
                  <button class="btn" type="submit">
                    <i class="fas fa-search"></i>
                  </button>
                  <ul  id="search-results"></ul>
                </div>
              </form>
            </li>
          </ul>
        </div>
        <button type="button" class="btn btn-primary" data-toggle="modal"
        data-target="#exampleModalCenter">Categories 
        </button>
        <ul class="navbar-nav navbar-right">
          <li class="dropdown"><a href="#" data-toggle="dropdown"
              class="nav-link dropdown-toggle nav-link-lg nav-link-user">  <i style="color:black" class="fas fa-user"></i> <span class="d-sm-none d-lg-inline-block"></span></a>
            <div class="dropdown-menu dropdown-menu-right pullDown">
              <div class="dropdown-title">Hello {{user.first_name}} {{user.last_name}}</div>
              
              <div class="dropdown-divider"></div>
              <a href="{% url 'loginout' %}" class="dropdown-item has-icon text-danger"> <i class="fas fa-sign-out-alt"></i>
                Logout
              </a>
            </div>
          </li>
        </ul>
      </nav>
      <div class="main-sidebar sidebar-style-2">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            
          </div>
          <ul class="sidebar-menu">
            <li class="menu-header">Main</li>
            <li class="dropdown active">
              <a href="index.html" class="nav-link"><i data-feather="monitor"></i><span>Dashboard</span></a>
            </li>
          </ul>
        </aside>
      </div>
              <!-- Vertically Center -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Categories</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    {% for i in  career_category %}
                  
                    <a href="{% url 'find' %}?param={{i|urlencode}}" class="dropdown-item has-icon"> {{i}}</a>
                    {% endfor %}
                  </div>
                  <div class="modal-footer bg-whitesmoke br">
                  </div>
                </div>
              </div>
            </div>
      <!-- Main Content -->
            <!-- Main Content -->
            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="myLargeModalLabel">Categories</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  {% for i in  career_category %}
                  
                  <a href="{% url 'find' %}?param={{i|urlencode}}" class="dropdown-item has-icon"> {{i}}</a>
                  {% endfor %}

                </div>
              </div>
            </div>
          </div>
      <div class="main-content">
        <section class="section">
          <!--<div class="row ">
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="card">
                <div class="card-statistic-4">
                  <div class="align-items-center justify-content-between">
                    <div class="row ">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                        <div class="card-content">
                          <h5 class="font-15">New Booking</h5>
                          <h2 class="mb-3 font-18">258</h2>
                          <p class="mb-0"><span class="col-green">10%</span> Increase</p>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                        <div class="banner-img">
                          <img src="admin/img/banner/1.png" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="card">
                <div class="card-statistic-4">
                  <div class="align-items-center justify-content-between">
                    <div class="row ">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                        <div class="card-content">
                          <h5 class="font-15"> Customers</h5>
                          <h2 class="mb-3 font-18">1,287</h2>
                          <p class="mb-0"><span class="col-orange">09%</span> Decrease</p>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                        <div class="banner-img">
                          <img src="admin/img/banner/2.png" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="card">
                <div class="card-statistic-4">
                  <div class="align-items-center justify-content-between">
                    <div class="row ">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                        <div class="card-content">
                          <h5 class="font-15">New Project</h5>
                          <h2 class="mb-3 font-18">128</h2>
                          <p class="mb-0"><span class="col-green">18%</span>
                            Increase</p>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                        <div class="banner-img">
                          <img src="admin/img/banner/3.png" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="card">
                <div class="card-statistic-4">
                  <div class="align-items-center justify-content-between">
                    <div class="row ">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                        <div class="card-content">
                          <h5 class="font-15">Revenue</h5>
                          <h2 class="mb-3 font-18">$48,697</h2>
                          <p class="mb-0"><span class="col-green">42%</span> Increase</p>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                        <div class="banner-img">
                          <img src="admin/img/banner/4.png" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>-->
          <div class="row ">
            {% comment %} {% with color="l-bg-green" %} {% endcomment %}
            {% for i in trend %}
            <div class="col-xl-4 col-lg-6">
              <a href="{% url 'details' %}?param={{i.name|urlencode}}" style="text-decoration : none;"> 
              <div class="card job-card">
                <div class="card-statistic-3">
                  <div class="card-icon card-icon-large"><i class="fa fa-briefcase"></i></div>
                  <div class="card-content">
                    <h4 class="card-title" style="font-size:18px;color:black;">{{i.name}}</h4>                      
                    <svg style="height:24px;width:24px;color:orange;padding-bottom:5px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                      <path fill-rule="evenodd" d="M13.5 4.938a7 7 0 11-9.006 1.737c.202-.257.59-.218.793.039.278.352.594.672.943.954.332.269.786-.049.773-.476a5.977 5.977 0 01.572-2.759 6.026 6.026 0 012.486-2.665c.247-.14.55-.016.677.238A6.967 6.967 0 0013.5 4.938zM14 12a4 4 0 01-4 4c-1.913 0-3.52-1.398-3.91-3.182-.093-.429.44-.643.814-.413a4.043 4.043 0 001.601.564c.303.038.531-.24.51-.544a5.975 5.975 0 011.315-4.192.447.447 0 01.431-.16A4.001 4.001 0 0114 12z" clip-rule="evenodd" />
                    </svg>

                    
                    
                    <div class="progress mt-1 mb-1" data-height="8">
                      <div class="progress-bar progress-color" role="progressbar" data-width="{{i.change}}%" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p class="mb-0 text-sm">
                      <span class="mr-2" style="color:black;"><i class="fa fa-arrow-up"></i> {{i.change}}%</span>
                      
                    </p>
                  </div>
                </div>
              </div>
            </a>
            </div>
            {% endfor %}
          </div>

          {% comment %} <div class="row ">
            {% for i in trend %}
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <a href="{% url 'details' %}?param={{i.name|urlencode}}" style="text-decoration : none;"> 
                    <div class="card ">
                        <div class="card-statistic-4">
                          <div class="align-items-center justify-content-between">
                            <div class="row ">
                              <div class="col-lg-9 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                <div class="card-content">
                                  <h5 class="font-15">{{i.name}}</h5>
                                  <!--<h2 class="mb-3 font-18">258</h2>-->
                                  
                                    {% if i.trend_value > 0 %}

                                    <p class="mb-0">
                                      <svg style="height:24px;width:24px;color:orange;padding-bottom:5px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                                        <path fill-rule="evenodd" d="M13.5 4.938a7 7 0 11-9.006 1.737c.202-.257.59-.218.793.039.278.352.594.672.943.954.332.269.786-.049.773-.476a5.977 5.977 0 01.572-2.759 6.026 6.026 0 012.486-2.665c.247-.14.55-.016.677.238A6.967 6.967 0 0013.5 4.938zM14 12a4 4 0 01-4 4c-1.913 0-3.52-1.398-3.91-3.182-.093-.429.44-.643.814-.413a4.043 4.043 0 001.601.564c.303.038.531-.24.51-.544a5.975 5.975 0 011.315-4.192.447.447 0 01.431-.16A4.001 4.001 0 0114 12z" clip-rule="evenodd" />
                                      </svg>
                                      
                                      
                                      <span class="col-green">{{i.change}}%</span> 
                                      <svg style="height:24px;width:24px;color:green;padding-bottom:5px;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18L9 11.25l4.306 4.307a11.95 11.95 0 015.814-5.519l2.74-1.22m0 0l-5.94-2.28m5.94 2.28l-2.28 5.941" />
                                      </svg> 

                                      
                                      
                                      

                                    {% elif i.trend_value == 0 and i.change > 0  %}
                                    <p class="mb-0"><span class="col-green">{{change}}%</span> 
                                      <svg style="height:24px;width:24px;color:green;padding-bottom:5px;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18L9 11.25l4.306 4.307a11.95 11.95 0 015.814-5.519l2.74-1.22m0 0l-5.94-2.28m5.94 2.28l-2.28 5.941" />
                                      </svg>
                                    {% else %}
                                    <p class="mb-0"><span class="co-green" style="color:red;">{{i.change}}%</span>
                                      <svg style="height:24px;width:24px;color:red;padding-bottom:5px;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6L9 12.75l4.286-4.286a11.948 11.948 0 014.306 6.43l.776 2.898m0 0l3.182-5.511m-3.182 5.51l-5.511-3.181" />
                                      </svg>
                                       {% endif %}
                                  </p>
                                </div>
                              </div>
                              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 pl-0">
                                <div class="banner-img">
                                  <img src="{% static 'admin/img/banner/1.png'%}" alt="">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                </a>
              </div>
            {% endfor %}
          </div> {% endcomment %}
          <div class="row">
            <div class="col-12 col-sm-12 col-lg-12">
              <div class="card ">
                <div class="card-header">
                  <h4>Overall Job Prediction chart</h4>
                  
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <div id="chart1"></div>
                      <!--<div class="row mb-0">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                          <div class="list-inline text-center">
                            <div class="list-inline-item p-r-30"><i data-feather="arrow-up-circle"
                                class="col-green"></i>
                              <h5 class="m-b-0">$675</h5>
                              <p class="text-muted font-14 m-b-0">Weekly Earnings</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                          <div class="list-inline text-center">
                            <div class="list-inline-item p-r-30"><i data-feather="arrow-down-circle"
                                class="col-orange"></i>
                              <h5 class="m-b-0">$1,587</h5>
                              <p class="text-muted font-14 m-b-0">Monthly Earnings</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                          <div class="list-inline text-center">
                            <div class="list-inline-item p-r-30"><i data-feather="arrow-up-circle"
                                class="col-green"></i>
                              <h5 class="mb-0 m-b-0">$45,965</h5>
                              <p class="text-muted font-14 m-b-0">Yearly Earnings</p>
                            </div>
                          </div>
                        </div>
                      </div>-->
                    </div>
                    <!--<div class="col-lg-3">
                      <div class="row mt-5">

                          {% for key, value in predicted_job.items %}
                          <div class="col-7 col-xl-7 mb-3">{{key}}</div>
                          <div class="col-5 col-xl-5 mb-3">
                            <span class="text-big">{{value}}</span>
                          </div>
                          {% endfor %}
                      </div>
                    </div>-->
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--<div class="row">
            <div class="col-12 col-sm-12 col-lg-4">
              <div class="card">
                <div class="card-header">
                  <h4>Chart</h4>
                </div>
                <div class="card-body">
                  <div id="chart4" class="chartsh"></div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-lg-4">
              <div class="card">
                <div class="card-header">
                  <h4>Chart</h4>
                </div>
                <div class="card-body">
                  <div class="summary">
                    <div class="summary-chart active" data-tab-group="summary-tab" id="summary-chart">
                      <div id="chart3" class="chartsh"></div>
                    </div>
                    <div data-tab-group="summary-tab" id="summary-text">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-lg-4">
              <div class="card">
                <div class="card-header">
                  <h4>Chart</h4>
                </div>
                <div class="card-body">
                  <div id="chart2" class="chartsh"></div>
                </div>
              </div>
            </div>
          </div>-->
          
        </section>

      </div>
      <footer class="main-footer">
        <div class="footer-left">
          <a href=".net"></a></a>
        </div>
        <div class="footer-right">
        </div>
      </footer>
    </div>
  </div>
  <!-- General JS Scripts -->
  <script src="{% static 'admin/js/app.min.js'%}"></script>
  <!-- JS Libraies -->
  <script src="{% static 'admin/bundles/apexcharts/apexcharts.min.js'%}"></script>
  <!-- Page Specific JS File -->
  
  <script>
    let color=["l-bg-green","l-bg-cyan","l-bg-orange","l-bg-purple","l-bg-yellow","l-bg-green"]
    let progress_color=["l-bg-purple","l-bg-orange","l-bg-green","l-bg-cyan","l-bg-green","l-bg-yellow"]
    cards = document.querySelectorAll(".job-card");
    progress = document.querySelectorAll(".progress-color");
    for(var i=0;i<color.length;i++){
      cards[i].classList.add(color[i]);
      progress[i].classList.add(progress_color[i])
    }


  </script>
  
  <script>
    predicted_job = '{{myList_data}}'
    trend = JSON.parse('{{trend}}'.replace(/&#x27;/g, '"').replace(/'/g, '"'))
    
    let values = Object.values(trend)
    const cleanedString = predicted_job.replace(/&#x27;/g, '"').replace(/'/g, '"');

    let a = JSON.parse(cleanedString);
    
    
    
    data_job = []
    for (let i = 0; i < a.length; i++) {
      let b =[]
      for (let j = 0; j < a[i].data.length; j++) {
        b.push(Math.round(a[i].data[j]))
      }
      let obj = {
        name: a[i].name,
        data: b
      }
      data_job.push(obj)
      obj = {}
    }
    let max= 0
    min =0
    for(let i = 0; i < 5; i++){
      if (Math.max(...a[i].data)>max){
        max = Math.max(...a[i].data)
      }
      if (Math.min(...a[i].data)<min){
        min = Math.min(...a[i].data)
      }
    }
    max = max + 3000   
    $(function () {
      chart1();

  
  
  
  });
  
  
  
  function chart1() {
      var options = {
          chart: {
              height: 430,
              width: "100%",
              type: "line",
              shadow: {
                  enabled: true,
                  color: "#000",
                  top: 18,
                  left: 7,
                  blur: 10,
                  opacity: 1
              },
              toolbar: {
                  show: false
              }
          },
          colors: ["#786BED", "#999b9c","#f62d51","#f8b425","#1bcfb4","#000"],
          dataLabels: {
              enabled: true
          },
          stroke: {
              curve: "smooth"
          },
          series: data_job,
          grid: {
              borderColor: "#e7e7e7",
              row: {
                  colors: ["#f3f3f3", "transparent"], // takes an array which will be repeated on columns
                  opacity: 0.0
              }
          },
          markers: {
              size: 6
          },
          xaxis: {
              categories: ["2013", "2014", "2015", "2016", "2017", "2018", "2019", "2020", "2021", "2022","2023","2024","2025","2026","2027"],
  
              labels: {
                  style: {
                      colors: "#9aa0ac"
                  }
              }
          },
          yaxis: {
              title: {
                  text: "Patent"
              },
              labels: {
                  style: {
                      color: "#9aa0ac"
                  }
              },
              min: min,
              max: max
          },
          legend: {
              position: "top",
              horizontalAlign: "right",
              floating: true,
              offsetY: -25,
              offsetX: -5
          }
      };
  
      var chart = new ApexCharts(document.querySelector("#chart1"), options);
  
      chart.render();
  }
  </script>

  <script>

    // Sample list of data
    let data = {{all_job|safe}}
   {% comment %} var data = ["Apple", "Banana", "Orange", "Mango", "Pineapple", "Grapes"]; {% endcomment %}

    // Get references to the input and results elements
    var searchInput = document.getElementById('search');
    var searchResults = document.getElementById('search-results');

    // Event listener for keyup event on the search input
    
    searchInput.addEventListener('keyup', function () {
      var searchTerm = searchInput.value.toLowerCase();
      searchResults.innerHTML = '';
      if (searchTerm.length < 1) {
        searchResults.style.display = 'none';
      }

      // Filter the data based on the search term
      var filteredData = data.filter(function (item) {
        if (searchTerm.length > 0) {
          searchResults.style.display = 'block';
        }
        
        return item.toLowerCase().includes(searchTerm);
      });

      // Display the filtered results
      filteredData.forEach(function (item) {
        var li = document.createElement('li');
        li.textContent = item;

        // Event listener for click event on search results
        li.addEventListener('click', function () {
          // Clear previous selection
          var selectedItems = searchResults.getElementsByClassName('selected');
          Array.from(selectedItems).forEach(function (item) {
            item.classList.remove('selected');
          });

          // Add selected class to clicked item
          li.classList.add('selected');

          
          window.location.href = "{% url 'details' %}?param="+li.textContent;

          // Perform the desired action with the selected item
          searchInput.value = li.textContent;
          searchResults.style.display = 'none';
        });
        searchResults.appendChild(li);
      });
    });
  </script>
  <!-- Template JS File -->
  <script src="{% static 'admin/js/scripts.js'%}"></script>
  <!-- Custom JS File -->
  <script src="{% static 'admin/js/custom.js'%}"></script>
</body>


<!-- index.html  21 Nov 2019 03:47:04 GMT -->
</html>