{% load static %}  
<!DOCTYPE html>
<html lang="en">


<!-- auth-register.html  21 Nov 2019 04:05:01 GMT -->
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Job Forcasting</title>
  <!-- General CSS Files -->
  <link rel="stylesheet" href="{% static 'admin/css/app.min.css'%}">
  <link rel="stylesheet" href="{% static 'admin/bundles/jquery-selectric/selectric.css'%}">
  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'admin/css/style.css'%}">
  <link rel="stylesheet" href="{% static 'admin/css/components.css'%}">
  <!-- Custom style CSS -->
  <link rel="stylesheet" href="{% static 'admin/css/custom.css'%}">
  <link rel='shortcut icon' type='image/x-icon' href='admin/img/favicon.ico' />
</head>

<body>
  <div class="loader"></div>
  <div id="app">
    <section class="section">
      <div class="container mt-5">
        <div class="row">
          <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
            <div class="card card-primary">
              <div class="card-header">
                <h4>Register</h4>
              </div>
              <div class="card-body">
                <form method="POST" action="{% url 'register' %}" enctype="multipart/form-data" class="needs-validation" novalidate="">
                    {% csrf_token %}
                   <!-- <div class="form-group col-6">
                    {{ field.label_tag }}
                    <input
                        type="{% if 'password' in field.label_tag %}password{% else %}text{% endif %}"
                        name="{{ field.html_name }}"
                        class="form-control"
                        maxlength="{% if 'username' in field.label_tag %}150{% endif %}"
                        id="{{ field.id_for_label }}"
                        required
                    />
                    </div>-->
                  <div class="row">
                    <div class="form-group col-6">
                      <label for="first_name">First Name</label>
                      <input id="first_name" type="text" class="form-control" name="first_name" required autofocus>
                    </div>
                    <div class="form-group col-6">
                      <label for="last_name">Last Name</label>
                      <input id="last_name" type="text" class="form-control" name="last_name" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" type="email" class="form-control" name="username" required>
                    <div class="invalid-feedback">
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-6">
                      <label for="password" class="d-block">Password</label>
                      <input id="password" type="password" class="form-control pwstrength" data-indicator="pwindicator"
                        name="password1" required>
                      <div id="pwindicator" class="pwindicator">
                        <div class="bar"></div>
                        <div class="label"></div>
                      </div>
                    </div>
                    <div class="form-group col-6">
                      <label for="password2" class="d-block">Password Confirmation</label>
                      <input id="password2" type="password" class="form-control" name="password2" required>
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">
                      Register
                    </button>
                  </div>
                </form>
              </div>
              <div class="mb-4 text-muted text-center">
                Already Registered? <a href="{% url 'login' %}">Login</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- General JS Scripts -->
  <script src="{% static 'admin/js/app.min.js'%}"></script>
  <!-- JS Libraies -->
  <script src="{% static 'admin/bundles/jquery-pwstrength/jquery.pwstrength.min.js'%}"></script>
  <script src="{% static 'admin/bundles/jquery-selectric/jquery.selectric.min.js'%}"></script>
  <!-- Page Specific JS File -->
  <script src="{% static 'admin/js/page/auth-register.js'%}"></script>
  <!-- Template JS File -->
  <script src="{% static 'admin/js/scripts.js'%}"></script>
  <!-- Custom JS File -->
  <script src="{% static 'admin/js/custom.js'%}"></script>
</body>


<!-- auth-register.html  21 Nov 2019 04:05:02 GMT -->
</html>